body {
  background-color: #1D2226;
  text-align: center; }

.formBox, .successBox {
  margin: 3em;
  background-color: #FFF;
  text-align: left;
  padding: 1.5625em;
  box-sizing: border-box; }
  .formBox h2, .successBox h2 {
    font-weight: 400; }
  .formBox h4, .successBox h4 {
    font-weight: 200; }
  .formBox input, .successBox input, .formBox .messInput, .successBox .messInput {
    height: 3em;
    padding-left: .75em;
    font-weight: 200;
    border: 1px solid #ADADAD;
    border-left: 4px solid black;
    width: 100%;
    outline-color: pink; }
  .formBox div, .successBox div {
    color: red;
    font-size: 1em; }
  .formBox .messInput, .successBox .messInput {
    height: 12em; }
  .formBox .submit, .successBox .submit {
    margin-top: 1em;
    height: 5em;
    width: 11em;
    border: none;
    outline-color: pink;
    color: white;
    background-color: #1D1D2D; }
  .formBox .submit:hover, .successBox .submit:hover {
    transition: background-color 0.5s; }

.successBox {
  display: none; }

@media screen and (min-width: 40em) {
  .bigBox {
    background-color: pink; } }
